<div class="header"  style="font-family: 'andika';">
  <app-navbar [links]="links"></app-navbar>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="p-4 mt-8 flex justify-center">
      <img src="../../../assets/illustration/Online Shopping.jpg" class="w-3/4 h-3/5 object-cover" />
    </div>
    <div class="md:mt-48 mt-8">
      <h2 class="text-center text-4xl text-grass md:text-white-100" style="font-family: 'Panton'">
        {{title}}
      </h2>
      <h5 class="px-4 mt-8 text-left text-grass md:text-xl lg:text-2xl md:text-white-100">
      {{message}}
      </h5>
      <div class="mt-8 flex justify-center">
        <a class="w-3/6 h-2/4 px-8 py-4 cursor-pointer hover:bg-lime hover:text-white-100 hover:border-white-100 hover:border-2 rounded-md bg-grass md:bg-white-100 shadow-sm text-md font-bold text-white-100 md:text-grass text-center">
          Yes i want my store
        </a>
      </div>
    </div>
  </div>
</div>
