.group{
  transition: all .4s linear;
}
.group:hover{
  background: #265c00
}

.group:hover .circle{
  background: #efefef !important
}

.group:hover .circle i{
  color: #265c00
}

.group:hover .title{
  color: #efefef
}
